@page "/Projects"
@rendermode InteractiveServer

<PageTitle>Projects</PageTitle>


<div style="display: grid; grid-template-columns: repeat(auto-fill, minmax(300px, 25px)); gap: 25px; padding-bottom: 25px; width: 100%; max-width: min(90vw, 1400px);">
    @foreach (Models.Project project in Models.Project.GetAll())
    {
        @if (project.Id != -1)
        {
            <div style="background: #ffe66d; border-radius: 10px; height: 400px; width: 300px;">
                <table style="width: 100%; height: 100%; text-align: center;">
                    <tr style="height: 190px;">
                        <td style="padding: 0px;">
                            <img src="Images/@project.Img" style="width: 100%; height: 100%; object-fit: cover; border-radius: 10px 10px 0 0; max-height: 190px;" alt="@project.ImgDesc" />
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 0px 10px;">
                            <div style="text-align: center; color: #222222; font-size: 32px;">
                                @project.Title
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 0px 10px;">
                            <div style="text-align: start; color: #222222; line-height: 25px; font-size: 24px;">
                                @project.Description
                            </div>
                        </td>
                    </tr>
                    <tr style="height: 50px;">
                        <td>
                            <button class="light-button" style="font-size: 24px;" onclick="window.open('@project.Url', '_blank');">
                                GitHub
                            </button>
                        </td>
                    </tr>
                </table>
            </div>
        }
        else{
            <div>Error</div>
            <div>@project.Description</div>
        }
    }
</div>